
@import url(https://fonts.googleapis.com/css?family=Lobster|Lily+Script+One);

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,900&family=Rubik:wght@800&display=swap');

:root {
  --color-gold: #bc9531;
  --color-gold-light: #E0D5D5;
  --color-gold-dark: #514C48;
  --color-main: #FBF4FE;
  --color-link: #288BE5;
/*   --color-main: #483853; */
  --light-two: #665C6B;
/*   --light-two: #F3E2FB; */
}
body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #000;
  --color-bg-primary: #FBF4FE;
  --color-bg-toggle: var(--color-gold); 
  --color-bg-secondary: var(--color-gold-light);
  --color-main: #FBF4FE;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #EAE9E9;
  --color-bg-primary: #333;
  --color-bg-toggle: #999; 
  --color-bg-secondary: var(--color-gold-dark);
  --color-main: #FBF4FE;
}

body {
  background: var(--color-main);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

h1 {
  font-family: Rubik;
  font-size: 8rem;
  -webkit-text-stroke: 4px var(--color-main);
  text-shadow: 4px 4px 0 rgba(0,0,0,0.3);
  text-align: center;
  color: var(--light-two);
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0px;
}

h2 {
  font-family: Lobster;
  font-size: 4rem;
  text-shadow: -1px 1px 0 rgba(0,0,0,0.9);
  text-align: center;
  color: var(--color-link);
  margin: 20px 0;
  margin-bottom: 40px;
  padding-bottom: 12px;
  /* border-bottom: 1px solid grey; */
}
h3, h4 {
  font-family: Rubik;
  -webkit-text-stroke: 1px var(--color-main);
  text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  text-align: center;
  color: var(--light-two);
  border-bottom: 1px solid grey;
}
h3 {
  font-size: 3.6rem;
  margin-top: -40px;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.4rem;
  font-family: Lobster;
  color: #288BE5;
  text-align: center;
  -webkit-text-stroke: none;
  margin: 0;
  margin-bottom: 40px;
}
/* Layout stuff */
main {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 56em) [main-end] minmax(1em, 1fr)
    [full-end];
}

main> * {
  grid-column: main;
}

/* End layout */

header {
  grid-column: main;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-text-secondary);
  line-height: 1;
  font-size: 94px;
  transition-property: font-size;
  transition-duration: .4s;
  letter-spacing: 0em;
  border-bottom: 1px solid #96741D;
}

.toolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeBtn {
  font-family: Rubik;
}

p {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  color: var(--color-text-primary);
  letter-spacing: 0.8px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: var(--color-text-primery);
}

#sunshine {
  animation: shine 1s ease, shinon 1s;
  animation-iteration-count: 1;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes shine {
  from {
    transform: rotateZ(0def);
    transform: opacity(1);
  } to {
    transform: rotateZ(60deg);
    transform: opacity(0);
  }
}

@keyframes shinon {
  from { opacity: 1; }
  to { opacity: 0; }
}

#active {
  background-color: red;
  border: 3px solid pink;
}
textarea {
    width: 600px;
    height: 200px;
}

footer {
  border-top: 1px solid grey;
  margin: 40px 0;
  padding: 40px 0;
  text-align: center;
  font-size: .8rem;
}

time {
  float: right;
}
button {
  background-color: var(--color-main);
  padding: 16px 40px;
  font-size: 20px;
  border-radius: 6px;
  font-family: Lobster;
  color: #2081DA;
  border: 1px solid #A281AF;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}
button:hover {
  padding: 13px 37px;
  color: #FFEF62;
  background-color: #BA7FD1;
  border: 4px solid #BA7FD1;
  -moz-box-shadow:    inset 0 0 16px yellow;
  -webkit-box-shadow: inset 0 0 16px yellow;
  box-shadow:         inset 0 0 16px yellow;
}
button:active {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 4px #000000;
  background-color: purple;
  border: 4px solid #BA7FD1;
}

.chakra-wrap__listitem {
  width: 400px;
}
.chakra-wrap__listitem h4 {
  font-size: .8rem;
  -web-text-stroke: none;
}

.rewardAmt{
  float: right;
  color: red;
}

.chakra-stack {
  margin: 4px 20px;
}

.dzu-dropzone {
  border: 1px dashed grey !important;
  background: rgba(10, 10, 10, .1);
}

.accordion-button-1488499499-6 {
  margin: 0 !important;
}

.dzu-inputLabel {
  background-color: #DFB2EE;
  border-radius: 8px;
  border: 1px dashed pink;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 40px 8px 20px #753172;
}

.chakra-text {
  color: var(--color-main);
  text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
  font-size: 2rem;
}

.createStuff * {
  margin-bottom: 6px;
}

.chakra-form__label {
  font-family: Lobster;
  font-size: 2rem;
  color: #ECDBF3;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.6);
}

.descriptor {
  font-size: 1rem;
}


.button-images {
  max-width: 950px;
  margin: 75px auto;
}

.decider {
  display: inline-block;
  font-family: Nunito;
  font-size: 1rem;
  color: pink;
  padding: 0;
}

.centerer {
  text-align: center;
  margin: 40px 0;
}
.centerer img {
  /* width: 60%; */
}

desc {
  background-color: white;
  padding: 40px;
  display: inline-block;
  display: flex;
  flex-direction: column;
}

desc img {
}

desc p {
  margin-top: 40px;
  text-align: left;
}

.splitter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.splitter> * {
}

.bountyLink {
  background: yellow;
}

.bigBtn {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 6px;
  border-radius: 8px;
  background-color: var(--color-main);
  width: 280px;
  display: inline-block;
  color: #288BE5;
}

.bigBtn a {
  transition: all .2s ease-out;
  font-family: Lobster;
  font-size: 1.6rem; 
  display: block;
  text-decoration: none;
  padding-top: 4px;
}
.bigBtn a:hover {
  text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

.bigBtn:hover {
  background-color: #BA7FD1;
  color: yellow;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 4px #000000;
}

.bigBtn img {
  width: 100%;
  display: block;
  border-radius: 6px;
  -moz-box-shadow:    1px 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  box-shadow:         1px 1px 1px 1px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  .centerer img {
    width: 80%;
  }
}


.container {
  margin-left: -40px;
  margin-right: -40px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.container a {
  padding: 4px;
  margin: 8px 18px;
  border-radius: 4px;
  text-align: center;
  font-family: Lobster;
  color: var(--color-main);
}
.container a:hover {
  background-color: #BA7FD1;
  color: yellow;
}

.post {
  background-color: white;
  padding: 0px;
  margin-bottom: 6px;
  border-radius: 4px;
  font-family: Lobster;
  display: grid;
  width: 200px;
  -moz-box-shadow:    0 0 6px black;
  -webkit-box-shadow: 0 0 6px black;
  box-shadow:         2px 2px 4px rgba(0,0,0,.4);
  overflow: clip;
  grid-template-columns: auto 14px;
  grid-template-areas: 
    'banner progSpace'
    'main progSpace'
    'foot progSpace'; 
}

.post div {
  padding: 6px 12px;
  text-align: left;
}

.postHead {
  font-family: sans-serif;
  grid-area: banner;
  font-size: .8rem;
  font-weight: 900;
  color: green;
}
.closed {
  color: grey;
}

.posted {
  grid-area: main;
  font-size: 1.6rem;
  line-height: 1.4rem;
  color: #333;
  height: 120px;
}
.postedClosed {
  grid-area: main;
  font-size: 1.2rem;
  line-height: 1rem;
  color: #333;
  height: 120px;
}
.postedClosed img {
  padding-top: 8px;
  width: 112%;
}

.postFoot {
  font-family: sans-serif;
  grid-area: foot;
}
.postFoot h6 {
  margin: 0;
  color: green;
}
.postFoot div {
  font-size: .8rem;
  color: #ccc;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.postFootClosed {
  text-align: right;
}
.postFootClosed {
  display: block;
  font-size: .8rem;
  line-height: .8rem;
  margin: 0;
  margin-right: -12px;
  color: #999;
}

.progSpace {
  display: block;
  grid-area: progSpace;
  padding: 10px 0;
}

.progBar {
  background-color: #ccc;
  display: block;
  width: 4px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
}

.progress {
  background-color: blue;
  display: block;
  width: 100%;
  height: 44%;
  border-radius: 2px;
}


.talk-bubble {
	padding: 32px;
  display: inline-block;
  position: relative;
	height: auto;
	background-color: white;
  border-radius: 10px / 10px;
  text-align: left;
  width: 92%;
  box-shadow: 2px 4px 0 rgba(0,0,0,0.3);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 22px solid transparent;
  border-right: 22px solid rgba(100,100,100,0.5);
  top: -12px;
  left: 92%;
  position: relative;
  transform: rotate(135deg);
  margin-bottom: 20px;
}
.triangle:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 21px solid transparent;
  border-right: 21px solid white;
  position: absolute;
  top: 4px;
  right: -18px;
}

.posterPerson {
  text-align: right;
  color: #333;
  margin-top: -10px;
  margin-bottom: 40px;
}

.bountyBox {
  display: flex;
  flex-flow: row wrap;
  background-color: #5A5151;
  border-radius: 8px;
  padding: 12px;
}
.bountyBox p {
  color: #fff;
  flex-grow: 1;
}
.bountyBox p hr {
  width: 80%;
}
.bountyBox span {
  width: 200px;
  text-align: center;
  color: green;
  padding-top: 30px;
  background-color: #B0FE62;
  font-family: Rubik;
  font-size: 2rem;
  border-radius: 8px;
}
.bountyBox span b {
  font-size: 2.8rem;
}